body{
    margin: 0 auto;
    background-color: #D4D4D4;
    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
    color: #878787;
    
}
header{
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.link{
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.movies{
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.bgColor{
    background-color: white;
}

.container{
    width: 40%;
    margin: 100px auto;
}

.boxflexCol{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    
}
.boxflex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}
.picture{

    margin: 40px auto;
}
header>img{
    
    border: 5px solid #B8B8B8;
    border-radius: 50% 50% / 50% 50%;
}

h1{
    text-align: center;
    color: #D95555 ;
}
h2{
    text-align: center;
    color: #878787;
}
p{
    color: #878787;
    padding: 35px;
}

button{
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #D95555;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
    text-decoration: none;

}
button>a{
    text-decoration: none;
    color: white;
    padding: 15px;
}
button:hover{
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
} 

.movie{
    width: 100%;
    padding: 20px;
}

.size30{
    width: 30%;
}
.size70{
    width: 70%;
}
.movies>h2{
    margin: 15px auto;
}


.icon{
    width: 100%;
}
.social{
    width: 100%;
    
}





.link>a{
    width: 15%;
    text-align: center;
    height: 100px;
    margin: 20px;
    text-decoration: none;
    color: #ADADAD;
}

.fb:hover{
    color:#3b5998;
}
.twi:hover{
    color: #1da1f2;
}
.linke:hover{
    color: #2867b2;
}
.link{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}